@import 'tailwindcss';



@theme{
    --font-1: 'Lugrasimo', serif;
    --font-inter: 'Inter', sans-serif;
};

.inter> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

*{
  user-select: none;
}